.App {
  text-align: center;
  margin-top: 50px;
  background-color: #D29F7C; /* set the background color to a light brown */
}

.App-images {
  width: 300px; /* sets the width of the image to 300 pixels */
  height: 200px;
}

.App-header {
  background-color: #473729; /* set the header background color to a darker brown */
  height: 150px;
  padding: 20px;
  color: white;
  animation-name: header-fade-in; /* add an animation to fade in the header */
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes header-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App-title {
  font-size: 36px;
  margin-bottom: 0; /* remove margin bottom to align with intro text */
}

.App-intro {
  font-size: 20px;
  margin-top: 30px;
  animation-name: intro-slide-up; /* add an animation to slide up the intro text */
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes intro-slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h2 {
  font-size: 28px;
  margin-top: 40px;
}

h3 {
  font-size: 22px;
  margin-top: 30px;
}

p {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5;
  animation-name: text-fade-in; /* add an animation to fade in the text */
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes text-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  font-size: 16px;
  margin-top: 10px;
}

a {
  color: #BFA27E; /* set the link color to a light brown */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


